.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .login-wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .select-buttons {
            width: 75%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .or-creacte {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-top: 30px;
        color: white;


        a {
            color: #F33F3F;

        }
    }

}

//media 
@media screen and (max-width: 1000px) {
    .login-container {
        .login-wrapper {
            width: 100%;


        }

    }
}

@media screen and (max-width: 500px) {
    .login-container {
        .login-wrapper {

            .select-buttons {
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-direction: row;
            }
        }

    }

}