.info-card {
    border: 1px solid rgba(164, 27, 27, 1);
    border-radius: 8px;
    padding: 15px;
    background: rgba(217, 217, 217, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    width: auto;
    flex-direction: column;

    .title {
        color: #E1E1E1;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .redArticle {
        color: #F33F3F;
        font-size: 32px;
    }
}

@media screen and (max-width:1000px) {
    .info-card {
        .title {
            
            font-size: 20px;
        }
        .redArticle {
            color: #F33F3F;
            font-size: 23px;
        }
    }
}