.card-container {
    background: #1F1F1F;
    width: 180px;

    display: flex;
    flex-direction: column;

    .btn-add {
        position: absolute;
        z-index: 2;

    }

    .poster-img {
        position: relative;
        align-self: center;

        width: 180px;
        height: 257px;
    }




    .name-movie {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #E1E1E1;
        padding: 5px;
        width: 100%;
    }

}

//media
@media screen and (max-width: 999px) {
    .card-container {
        width: 90px;
         .poster-img {
            position: relative;
            align-self: center;
    
            width: 90px;
            height: 128.5px;
        }
        .name-movie {
            
            font-size: 10px;
            line-height: 15px;
            
        }
    }

}